@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* solution  */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-shrink: 0;
}

.header .left-links li {
  padding-left: 5px;
}

.header .right-links li {
  padding-right: 5px;
}

.content {
  text-align: center;
}

button {
  padding: 10px 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #eeeeee;
}

.footer ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-shrink: 0;
}

.footer .left-links li {
  padding-left: 5px;
}

.footer .right-links li {
  padding-right: 5px;
}